
.tableFilter-container{

    height: 100%;
    width: 20rem;

    display: flex;
    justify-content: space-around;
    align-items: center;

    .inputFilter{
        height: 2.5rem;
        width: 12rem;
        border-radius: 1rem;
        text-align: center;

    }
}