*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo';
}

html{
    @media(max-width:820px){
        font-size: 90%;
    }
    @media(max-width:720px){
        font-size: 85%;
    }
    @media(max-width:420px){
        font-size: 80%;
        //Mudar estilo de passar página
    }
    @media(max-width:340px){
        font-size: 70%;
    }
    @media(max-width:300px){
        font-size: 65%;
    }
    @media(max-width:260px){
        font-size: 55%;
    }
}